body {
    background-color: #ededed;
}
.aktif{
    background-color: #202B46;
    color: white;
}
.main-content {
    display: flex;
    /* margin-top: 8%; */
}

.dashed-line {
    border-bottom: 3px dashed #ccc;
}

#request {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
}

/* background-color: #a2acc4; */
.custom-input {
    box-shadow: 2px 2px 3px 1px rgb(187, 185, 185);
}

.toast-info {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.toast-info.show {
    opacity: 1;
    transform: translateY(0);
}

.disabled-button {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.custom-popover {
    max-width: 300px;
    height: 500px;
}

.custom-tooltip {
    font-size: 10px;
}
#button-orderan {
    margin-top: 20px;
}
.btn-orderan {
    border-radius: 50px !important;
    background-color: white ;
    color: black ;
    border-color: white;
}
.aktif{
    background-color: rgb(27, 27, 61);
    color: white;
    border-radius: 50px !important;
}
.badge-qty {
    background-color: red;
    color: white;
}
.btn-orderan:hover {
    background-color: #acb9d8;
    color: black;
    border-color: white;
}
#cari-orderan {
    border-radius: 20px;
}
/* menu */
.atas {
    width: 100%;
}
.kiri {
    width: 20%;
}
.pojok-kanan {
    width: 40%;
}
.wadah-jalan .wadah-dashboard {
    box-sizing: border-box !important;
}
.tengahin {
    padding-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .fzt4 {
        font-size: 40% !important;
    }

    .fzt5 {
        font-size: 50% !important;
    }

    .fzt6 {
        font-size: 60% !important;
    }

    .fzt7 {
        font-size: 70% !important;
    }

    .fzt8 {
        font-size: 80% !important;
    }

    .wt5 {
        width: 50% !important;
    }

    .wt6 {
        width: 60% !important;
    }

    .wt7 {
        width: 70% !important;
    }

    .wt8 {
        width: 80% !important;
    }

    .tablet-card {
        padding: 5px !important;
    }

    /* .satu {
        width: 140px !important;
    }

    .dua {
        width: 100px !important;
    } */

    .card-atas-satu {
        width: 100px !important;
        height: 40px !important;
        font-size: 50% !important;
        margin-left: -5px !important;
    }

    .card-atas-dua {
        margin-left: 20px !important;
    }

    /* .tiga{
        width:15rem !important;
    }
    .empat{
        width:10rem !important;
    } */
    .ikon-satu,
    .ikon-dua,
    .ikon-tiga {
        width: 40px;
        height: 55px;
    }
    .input-atas-kiri {
        width: 80px !important;
    }

    /* menunya */
    .wadah-nav {
        width: 100% !important;
    }
    .select-tablet {
        width: 130px !important;
    }
    #cari-orderan {
        width: 170px !important;
    }
    .pojok-kanan {
        margin-right: 30px;
    }
    .tablet-menu {
        width: 180px !important;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0;
    }

    .tengahin {
        box-sizing: border-box;
    }
    .ilangin-margin {
        margin-left: 0 !important;
    }
    /* belum proses order */
}

.kanan-dalam-proses {
    position: relative;
}

.anak-kanan-dalam-proses {
    position: absolute;
    top: -10px; /* Sesuaikan dengan nilai yang diinginkan */
    right: 0;
}
#sunting {
    border: 1px solid black;
}

.p-scroll {
    box-sizing: border-box; /* Padding jika diperlukan */
}
.cetak-invoice:hover {
    background-color: rgba(221, 221, 221, 0.418) !important;
    transition: 0.3s !important;
}
.cetak-invoice {
    transition: 0.3s !important;
}

.gap_custom {
    gap: 11px;
}
.line_bayar {
    margin-right: -12px;
}
.gap_date {
    gap: 26px;
}
.date_text {
    font-size: 12px;
}
.line_right {
    margin-right: 10px;
}


.infopembayarab{

}


.validasimuncul{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transition: .5s;
}

.anaknyavalidasi{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom:0 ;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.validasimunculhapus{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transition: .5s;
}

.anaknyavalidasihapus{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom:0 ;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hasilhover{
    transition: .2s;
    display: none;
    position: absolute;
    top:0;
    right: -50%;
    z-index: 9;
    background-color: rgb(219, 218, 218);
    width: max-content;
    height: max-content;
    box-shadow: 0 5px 5px -5px black;
}
