* {
    font-family: "Poppins", sans-serif;
}

input:focus {
    outline: none;
}

h2 {
    font-weight: 600;
}

p {
    line-height: 2.5rem;
    font-size: 1.2rem;
    opacity: 80%;
}

.content-center {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-input {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0 12px;
    text-align: center;
    font-size: 1.2rem;
    background-color: #e3e5e8;
}

.countdown {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-left: 10rem;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-container {
    display: flex;
}

#forgotPasswordForm {
    margin: auto;
}

/* For desktop */
@media (min-width: 992px) {
    #forgotPasswordForm,
    #forgotButton {
        width: 75%;
    }
    #verifButton {
        width: 50%;
    }
    #resetForm {
        padding-left: 5rem;
    }
}

/* For mobile */
@media (max-width: 991px) {
    img {
        margin-top: -40px;
    }
    h2 {
        margin-top: 20px;
        text-align: center;
    }
    p {
        line-height: 2rem;
    }
    #forgotPasswordForm,
    #forgotButton,
    #verifButton {
        width: 100%;
        margin-top: -8px;
    }
    #resetForm {
        padding-left: 4px;
    }
    .countdown {
        margin-left: 12rem;
    }
}
